{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
<body>
    <h1>Detail task</h1>

        <style>
          .card.d-inline-block {
            margin-right: 19px;
            margin-bottom: 19px;/* Задайте желаемое расстояние между карточками */
          }
        </style>

        <div class="card d-inline-block" style="width: 18rem;">
            <div class="card-body p-3">
                <img class="card-img-top" src="https://picsum.photos/200/200?random=1" alt="Card image cap">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">Status: {% if object.status %}Completed{% else %}In Progress{% endif %}</p>

                <p class="card-text">Reporter: {{ object.reporter }}</p>
                <p class="card-text">Assignee: {{ object.assignee }}</p>


                <i class="card-text"><small class="text-muted">Created at: {{ object.created_at }}</small>
                <p  class="card-text"><small class="text-muted">Updated at: {{ object.updated_at }}</small>

                {% if object.reporter == user or object.assignee == user %}
                    <a href="{% url 'tasks:update' object.id %}" class="btn btn-warning">Update</a>
                    {% if not object.status and object.reporter == user%}
                        <a href="{% url 'tasks:delete' object.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                {% endif %}

            </div>
        </div>

</body>
{% endblock %}
